@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Neucha&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Neucha&family=Pangolin&family=Patrick+Hand&family=Sixtyfour+Convergence&display=swap');

body {
  background: #6D6027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background-repeat: no-repeat; */
}
.App {
  text-align: center;
  margin: 10px auto;
  width: 900px;
  background: #6D6027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  padding: 30px;
}
h1,h3 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 900;
  font-style: normal;
}
p {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
